
  <script>
    $(document).ready(function() {
      $('.action i').click(function() {
        $(this).toggleClass('liked');
        // Vérifier si l'icône a la classe 'liked' après le basculement de la classe
        if ($(this).hasClass('liked')) {
          // Si oui, ajouter le code pour enregistrer le fait que l'utilisateur a aimé ce post
          // Vous pouvez mettre ici le code pour effectuer une action en arrière-plan, par exemple envoyer une requête AJAX
        } else {
          // Sinon, ajouter le code pour annuler l'action précédente, par exemple annuler un like déjà enregistré
          // Vous pouvez mettre ici le code pour effectuer une action en arrière-plan, par exemple envoyer une requête AJAX
        }
      });
    });
  </script>
</head>
<body>

    <!-- Contenu principal -->
    <div style="margin-left: 19%;" class="main-content">
      <!-- Stories -->
      <div class="stories-container">
        <!-- Stories 1 -->
        <div class="stories">
          <div class="stories-img color">
            <%= image_tag "story1.png" %>
            <div class="add">+</div>
          </div>

          <!-- Stories 2 -->
          <div class="stories-img color">
            <%= image_tag "story2.png" %>
          </div>

          <!-- Stories 3 -->
          <div class="stories-img color">
            <%= image_tag "story3.png" %>
          </div>

          <!-- Stories 4 -->
          <div class="stories-img color">
            <%= image_tag "story4.png" %>
          </div>

            <!-- Stories 5 -->
          <div class="stories-img color">
            <%= image_tag "story5.png" %>
          </div>

            <!-- Stories 6 -->
          <div class="stories-img color">
            <%= image_tag "nvlstory6.png" %>
          </div>

        </div>

      </div>

     <!-- Posts -->
<div id="posts" class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-container" id="<%= dom_id post %>">
        <p class="post-title">
          <%= post.titre %>
        </p>

        <div class="post-image">
          <img src="<%= post.image %>">
        </div>

        <div class="post-actions">
          <div class="action">
            <i class="ri-heart-line"></i>
          </div>
          <div class="action">
            <i class="ri-chat-3-line"></i>
          </div>
          <div class="action">
            <i class="ri-send-plane-line"></i> <!-- Icône de l'avion en papier -->
          </div>
        </div>
        <div class="post-description">

          <%= post.description %>
        </div>

      </div>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>


    </div>
  </div>
</body>
</html>
