<%= render @post %>

<div style="margin-top: 20px; text-align: center;">
  <div style="max-width: 400px; margin: 0 auto;">
    <%= image_tag @post.image, style: "max-width: 100%; height: auto; display: block; margin: 0 auto; border-radius: 5px;" %>
  </div>

  <p style="font-size: 16px; font-weight: bold; margin-top: 10px;"><%= @post.titre %></p>

  <div style="margin-top: 10px;">
    <%= link_to "Edit this post", edit_post_path(@post), class: "instagram-button" %>
    <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "instagram-button" %>
    <%= link_to "Back to posts", posts_path, class: "instagram-button" %>
  </div>
</div>
