<!DOCTYPE html>
<html>
  <head>
    <title>Instagrammi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Ajout de jQuery -->
  </head>



  <body>

    <div class="insta-mobile">
      <a href="<%= posts_path %>" class="logo">
        <%= image_tag "logoinstagrammi.svg" %>
      </a>
       <a href="<%= new_post_path %>" class="create-post">
        <b>
          <span class="icon-post">
            <i style="color: black;" class="ri-add-box-line"></i>
          </span>
        </b>

    </div>


      <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="<%= posts_path %>" class="logo">
        <%= image_tag "logoinstagrammi.svg" %>
      </a>
      <div class="menu">
        <b>
        <a href="<%= posts_path %>">
          <span class="icon">
            <i class="ri-home-line"></i>
          </span>
          Accueil
        </a>
         </b>
        <a href="#">
          <span class="icon">
            <i class="ri-search-line"></i>
          </span>
          Rechercher
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-compass-line"></i>
          </span>
          Découvrir
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-film-line"></i>
          </span>
          Reels
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-chat-1-line"></i>
          </span>
          Messages
        </a>
        <a href="<%= new_post_path %>" class="create-post">
        <b>
          <span class="icon">
            <i class="ri-add-box-line"></i>
          </span>
          Créer
          </b>
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-user-line"></i>
          </span>
          Profil
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-threads-line"></i>
          </span>
          Threads
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-settings-3-line"></i>
          </span>
          Paramètres
        </a>
      </div>
    </div>



    <%= yield %>
  </body>
</html>
